// Colors
$gray: #272822;
$brown: #75715E;
$white: #F8F8F0;
$red: #CD0000;
$pink: #F92672;
$yellow: #E6DB74;
$orange: #FD971F;
$purple: #AE81FF;
$blue: #66D9EF;
$green: #A6E22E;
$lime: #7FE22E;

// Body
$body-margin-default: 10px 0 20px;

// Links
$link-decoration: underline;

// Grid Framework
$grid-inner-padding: 30px;

// Header
$header-bg: #fff;

// Footer
$footer-bg: darken($gray, 15%);

// Selection
$selection-bg: $pink;
$selection-color: $white;