@import "variables";
@import "bootstrap-override";

.container {
    width: 100%;
}

// Hide elements not needed in print view, e.g. navigation
#nav-main,
#content-side {
    display: none;
}

body {
    font-size: $font-size-base - 2;
    // Wir verwenden eine Serifen-Schrift, da sie auf Papier am besten zu lesen ist
    font-family: $font-family-serif;
}

// Relevante Attribute für links und Abkürzungen ausgeben (nicht jedoch bei javascript und # Links)
a {
    &[href] {
        &:after {
            content: " (" attr(href) " )";
        }
        &[href^="javascript:"],
        &[href^="#"] {
            content: "";
        }
    }
}

abbr {
    &[title] {
        &:after {
            content: " (" attr(title) " )";
        }
    }
}

// Seitenumbrüche direkt nach einer Überschrift verhindern
h1, h2, h3, h4, h5 {
    page-break-after: avoid;
}

// Seitenumbrücke innerhalb einer Tabelle vermeiden
table {
    page-break-inside: avoid;
}

// Alle Grid-Elemente auf 100% linear machen
.grid-20-l, .grid-20-r,
.grid-25-l, .grid-25-r,
.grid-30-l, .grid-30-r,
.grid-33-l, .grid-33-r,
.grid-40-l, .grid-40-r,
.grid-50-l, .grid-50-r,
.grid-60-l, .grid-60-r,
.grid-66-l, .grid-66-r,
.grid-70-l, .grid-70-r,
.grid-75-l, .grid-75-r,
.grid-80-l, .grid-80-r {
    width: 100%;
    float: none;
}

.grid-inner-l,
.grid-inner-c,
.grid-inner-r {
    padding: 0;
}