body {
    background: $body-bg;
    color: $body-color;
    font-size: $body-font-size;
    line-height: $body-line-height;
    font-family: $body-font-family;
}

a {
    color: $link-color;
    text-decoration: $link-text-decoration;
    &:focus,
    &:hover,
    &:active {
        color: $link-hover-color;
        text-decoration: $link-hover-text-decoration;
    }
    // Improve, check with a
    &[href^="http://"],
    &[href^="https://"] {
        &:before {
            @extend %fa-icon;
            @extend .fas;
            content: fa-content($fa-var-external-link-alt);
            margin-right: 10px;
        }
    }
    &.no-icon {
        &:before {
            content: "";
            margin-right: 0;
        }
    }
}

::selection {
    background: rgba(red($selection-bg), green($selection-bg), blue($selection-bg), .99);
    color: $selection-color;
}
::-moz-selection {
    background: rgba(red($selection-bg), green($selection-bg), blue($selection-bg), .99);
    color: $selection-color;
}

img {
    max-width: 100%;
}