table {
  background: darken($gray, 10%);
  border-collapse: collapse;
  width: 100%;
  font-size: $font-size-small;

  td, th {
    border: 1px solid $white;
    padding: 8px;
  }

  th {
    text-align: left;
    background: $headings-color-alternate;
    color: $gray;
  }

  tr {
    &:nth-child(even) {
      background: darken($gray, 15%);
    }
  }

  table {
    th {
      background: $headings-color-default;
    }
  }
}
