h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: $headings-color-default;
    font-weight: $headings-font-weight;
    margin: $headings-margin-default;
    line-height: $headings-line-height;
}

h1, .h1 {
    font-family: $h1-font-family;
    font-size: $h1-font-size;
    color: $headings-color-alternate;
}

h2, .h2 {
    font-family: $h2-font-family;
    font-size: $h2-font-size;
}

h3, .h3 {
    font-family: $h3-font-family;
    font-size: $h3-font-size;
}

h4, .h4 {
    font-family: $h4-font-family;
    font-size: $h4-font-size;
}

h5, .h5 {
    font-family: $h5-font-family;
    font-size: $h5-font-size;
}

h6, .h6 {
    font-family: $h6-font-family;
    font-size: $h6-font-size;
}

p,
ul, ol, dl,
table {
    margin: 1em 0 .5em;
}

abbr, acronym {
    cursor: help;
    &[title] {
        text-decoration: none;
        border-bottom: 1px dashed $brown;
    }
}

tt, code, kbd, samp {
    font-family: $font-family-monospace;
    background: $brown;
    color: $white;
    border: 1px solid lighten($brown, 20%);
    padding: 2px 5px;
    font-size: $font-size-small;
}

code {
    &.code-block {
        white-space: pre-wrap;
    }
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

ul {
    margin-left: 1.5em;
    list-style: square;
    ul {
        list-style: circle;
    }
}

ol {
    list-style: decimal-leading-zero;
    margin-left: 2.5em;
    ol {
        list-style: lower-alpha;
        margin-left: 1.75em;
    }
}

dl {
    dt {
        font-weight: bold;
        border-bottom: 1px solid $brown;
        &:after {
            content: ":";
        }
    }
    dd {
        padding-left: 2em;
        margin-bottom: .5em;
    }
}