#header {
    background: $header-bg;
    padding: 20px;
    #header-title,
    #header-logo {
        > * {
            margin: 0;
        }
    }
    #header-logo {
        img {
            display: block;
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }
}