#header {
    background: $header-bg;
    color: $gray;
    padding: 20px;
    #header-title,
    #header-logo {
        > * {
            margin: 0;
        }
    }
    #header-title {
        > * {
            color: $purple;
        }
    }
    #header-logo {
        img {
            display: block;
            width: 100%;
            max-width: 100%;
            height: auto;
        }
        a {
            &:before {
                content: none;
            }
        }
    }
}