.img-position-wrapper
{
  position: relative;
  top: 0;
  left: 0;
}
.img-position-01
{
  position: relative;
  top: 10px;
  left: 500px;
  z-index: 1;
}
.img-position-02
{
  position: relative;
  top: -100px;
  left: 350px;
  z-index: 1;
}